<app-new-task></app-new-task>
<div class="wrapper flex-center">
  <h2>Task Board</h2>
  <main class="board flex">
    <div class="state flex-center">
      <h4>To Do</h4>
      <div
        class="task-state flex"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event, 'todo')"
      >
        <div
          class="task"
          *ngFor="let task of todo"
          [ngStyle]="{ 'background-color': task.color }"
          cdkDrag
        >
          <p>Task Name:</p>
          <p>{{ task.title }}</p>
          <div
            [ngStyle]="{ 'background-color': task.color }"
            class="task-color"
          ></div>
        </div>
      </div>
    </div>
    <div class="state flex-center">
      <h4>In Progress</h4>
      <div
        class="task-state flex"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        (cdkDropListDropped)="drop($event, 'inProgress')"
        [cdkDropListConnectedTo]="[todoList, doneList]"
      >
        <div
          class="task"
          *ngFor="let task of inProgress"
          [ngStyle]="{ 'background-color': task.color }"
          cdkDrag
        >
          <p>Task Name:</p>
          <p>{{ task.title }}</p>
          <div
            [ngStyle]="{ 'background-color': task.color }"
            class="task-color"
          ></div>
        </div>
      </div>
    </div>
    <div class="state flex-center">
      <h4>Done</h4>
      <div
        class="task-state flex"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event, 'done')"
      >
        <div
          class="task"
          *ngFor="let task of done"
          [ngStyle]="{ 'background-color': task.color }"
          cdkDrag
        >
          <p>Task Name:</p>
          <p>{{ task.title }}</p>
          <div
            [ngStyle]="{ 'background-color': task.color }"
            class="task-color"
          ></div>
        </div>
      </div>
    </div>
  </main>
</div>
