.wrapper {
    background: #D9D9D9;
    flex-direction: column;
    gap: 15px;
}

.task-state {
    width: 259px;
    padding: 20px;
    height: 489px;
    border-radius: 82px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.state {
    width: 300px;
    height: 500px;
    flex-direction: column;
    gap: 15px;
}

.task {
    width: 187px;
    height: 100px;
    border-radius: 42px;
    background: #FFF;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}