* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

//UTIL

.wrapper {
    min-height: 100dvh;
    min-width: 100dvw;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//TASK CONFIGS

.board {
    padding: 20px;
    min-width: 900px;
    min-height: 500px;
    border-radius: 51px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.task-state {
    background: #D9D9D9;
}

//ERROR-MESSAGES

.validation-error p {
    font-size: .8rem;
    color: #dc3545;
    margin-top: 0.4em;
    border-left: 3px solid #dc3545;
    padding-left: 0.2em;
    margin-bottom: 0.5rem;
    margin-left: .3rem;
}

//POP-UPS

.popup-container {
    min-height: 250px;
    min-width: 400px;
    background-color: #E9E9E9;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 30px;
}

.mid-screen-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#x {
    border-radius: 5px;
    position: absolute;
    background: red;
    width: 20px;
    border: 1px solid #000;
    color: white;
    top: 10px;
    right: 20px;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .5;
    }
}


// DELETE TASK BUTTON

